<%- include("template/header",{titulo: "Home"}) %> 
<div class="panel-body fondo1">
    <div class="panel">
        <div class="sub-panel">
            <div class="panel-form">
                <div class="sub-panel-form">
                    <img src="./images/logo.png" alt="">
                    <h1>Políticas de Privacidad</h1>
                    <p>Selecciona una de las siguientes opciones</p>
                    <button onclick="location.href='/cotizando';">Estoy cotizando un Kia</button>
                    <button onclick="location.href='/reservando';">Estoy reservando un Kia</button>
                    <button onclick="location.href='/comprando';">Estoy comprando un Kia</button>
                </div>
                <img src="./images/logo-forum.png" class="img-forum" alt="">
            </div>            
        </div>
    </div>    
</div>
<%- include("template/footer") %> 