<footer class="banner">
    <div class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="./images/logo.png" alt="">
                </div>
                <div class="col-md-6">                  
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/custom.js"></script>
</body>
</html>